/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

@mixin form-group-margin {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

label {
  margin-bottom: 0.5rem;
}

.form-group {
  // could be a bad idea
  @include form-group-margin;
}

#navbar-dropdown-login .dropdown-menu {
  // ugh - for the navbar
  width: 300px;
  max-width: 400px;
}
