<div class="mt-5" *ngIf="article">
  <section *ngIf="!showEditor">
    <article>
      <header class="mb-4">
        <h1 class="display-4">{{ article.title }}</h1>
        <p class="fs-5 mt-4" *ngIf="article.introduction">{{ article.introduction }}</p>
        <p class="text-muted">
          {{ article.authorName }} | {{ article.created | date : 'dd/MM/yyyy HH:mm' }} {{ article.updated ? '(updated ' + (article.updated | date : 'dd/MM/yyyy HH:mm') + ')': '' }}
          <fa-icon [icon]="faCoffee"></fa-icon>
        </p>
      </header>

      <!-- banner image -->
      <img *ngIf="bannerImageUrl"
           [src]="bannerImageUrl"
           class="img-fluid mb-4 w-100 image-fixed"
           alt="{{ article.title }}" />

      <section class="content">
        <div [innerHTML]="article.content"></div>
      </section>
    </article>

    <!-- comments -->
    <app-comments [article]="article"
                  [isLoggedIn]="(isLoggedIn$ | async) ?? false">
    </app-comments>

    <!-- footer -->
    <footer class="mt-5">
      <h5>About the Author</h5>
      <p>{{ article.authorName }}</p>

      <!-- footer stuff -->
      <div class="mt-3 mb-5">
        <a class="me-2" [routerLink]="['/articles']">back to articles</a>
      </div>
    </footer>
  </section>


  <!-- editor -probably should be in its own component -->
  <section *ngIf="(isLoggedIn$ | async) && showEditor">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title" class="fw-bold">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Article title" formControlName="title" />
      </div>

      <div class="form-group">
        <label for="description" class="fw-bold">Description - tag line</label>
        <input type="text"
               class="form-control"
               id="description"
               placeholder="Descripion is a tag line which appears in summary pages"
               formControlName="description" />
      </div>

      <div class="form-group">
        <label for="introduction" class="fw-bold">Intro</label>
        <textarea type="text"
               class="form-control"
               id="introduction"
               placeholder="Introduction appears in the article, above the image"
               formControlName="introduction"></textarea>
      </div>

      <hr />

      <!-- banner image-->
      <div class="mt-2 mb-2">
        <label for="bannerImageSelector" class="fw-bold">Select a banner image</label>
        <div class="justify-content-start">
          <input type="file" id="bannerImageSelector" (change)="bannerImageSelect($event)" />
          <button class="btn btn-secondary" (click)="uploadBannerImage()" [disabled]="!bannerImage">Upload image</button>
        </div>
        <div class="justify-content-end">
          <img class="w-25 text-end"
               [src]="bannerImageUrl"
               *ngIf="bannerImageUrl"
               alt="article banner image" />
        </div>
      </div>

      <hr />

      <app-content-editor [contentControl]="$any(form.get('content'))"></app-content-editor>

      <div class="mt-2">
        <button type="submit" class="btn btn-sm btn-success me-2" [disabled]="!form.valid">{{ article.id ? 'Update' : 'Create' }}</button>
        <button class="btn btn-sm btn-warning" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </section>

</div>
