<div class="mt-5" *ngIf="article">
  <section *ngIf="!showEditor">
    <article>
      <header class="mb-4 col-12">
        <h1 class="display-4">{{ article.title }}</h1>
        <p class="fs-5 mt-4" *ngIf="article.introduction">{{ article.introduction }}</p>
        <div class="text-muted col-12 col-sm-12 d-flex">
          <div class="text-start">
            {{ article.authorName }}
            | {{ article.publishDate ? (article.publishDate | date : 'dd/MM/yyyy HH:mm') : article.created | date : 'dd/MM/yyyy HH:mm' }}
            | <a class="comments-link ms-1 me-1" (click)="showComments()"><fa-icon [icon]="faComments"></fa-icon>{{ article.comments.length }}</a>
            | <span class="ms-1"><fa-icon [icon]="faEye"></fa-icon> {{ article.views }}</span>
            <!--<fa-icon [icon]="faCoffee"></fa-icon>-->
          </div>
        </div>
      </header>

      <!-- banner image -->
      <img *ngIf="bannerImageUrl"
           [src]="bannerImageUrl"
           class="img-fluid mb-4 w-100 image-fixed"
           alt="{{ article.title }}" />

      <section class="content">
        <div [innerHTML]="article.content"></div>
      </section>
    </article>

    <!-- comments -->
    <app-comments [article]="article"
                  [isLoggedIn]="(isLoggedIn$ | async) ?? false">
    </app-comments>

    <!-- footer -->
    <footer class="mt-5">
      <h5>About the Author</h5>
      <p>{{ article.authorName }}</p>

      <!-- footer stuff -->
      <div class="mt-3 mb-5">
        <a class="me-2" [routerLink]="['/articles']">back to articles</a>
      </div>
    </footer>
  </section>


  <!-- editor -probably should be in its own component -->
  <section *ngIf="(isLoggedIn$ | async) && showEditor">
    <form [formGroup]="form">
      <div class="mb-3">
        <h3 *ngIf="article.id.length">Editing '{{article.title}}'</h3>
        <h3 *ngIf="!article.id.length">Create article</h3>
        <hr />
      </div>

      <div class="form-group">
        <label for="title" class="fw-bold">Title</label>
        <input type="text"
               maxlength="100"
               class="form-control"
               id="title"
               placeholder="Article title"
               formControlName="title" />
      </div>

      <div class="form-group">
        <label for="description" class="fw-bold">Description - tag line - keep it short</label>
        <input type="text"
               maxlength="100"
               class="form-control"
               id="description"
               placeholder="This appears in summary pages, not in the article itself"
               formControlName="description" />
      </div>

      <div class="form-group">
        <label for="introduction" class="fw-bold">Intro</label>
        <textarea type="text"
                  class="form-control"
                  id="introduction"
                  placeholder="Introduction appears in the article, above the image"
                  formControlName="introduction"></textarea>
      </div>

      <hr />

      <!-- banner image-->
      <div class="mt-2 mb-2 ">
        <div class="mb-3">
          <label for="bannerImageSelector" class="fw-bold">Select a banner image</label>
          <div>
            <input type="file" id="bannerImageSelector" (change)="bannerImageSelect($event)" />
            <button class="btn btn-secondary" (click)="uploadBannerImage()" [disabled]="!bannerImage">Upload image</button>
          </div>
            
        </div>
        <div class="">
          <img class="w-100 text-end"
               [src]="bannerImageUrl"
               *ngIf="bannerImageUrl"
               alt="article banner image" />
        </div>
      </div>


      <hr />

      <app-content-editor [contentControl]="$any(form.get('content'))"></app-content-editor>
    </form>
  </section>

</div>
