<div class="mt-5">
  <div class="row">
    <ng-container *ngIf="articles$ | async as pagedResult; else loading">
      <div class="col-md-4 col-sm-6 mb-4" *ngFor="let article of pagedResult.items">
        <div class="card rounded-0">
          <div class="card-img-top" >
            <img class="card-img-top image-fixed rounded-0"
                 
                 alt="{{ article.title }}"
                 [src]="article.imgSrc"
                 />
          </div>
          <div class="card-body">
            <h5 class="card-title small">
              <a class="justify-content-start" [routerLink]="['/articles', article.id]">{{ article.title }}</a>
            </h5>
            <p class="card-text small">{{ article.description }}</p>
          </div>
          <div class="card-footer text-muted d-flex align-content-center">
            <p class="text-start col-sm-6 mb-0" >{{ article.published | date: 'dd/MM/yyyy'}}</p>
            <p class="text-end col-sm-6 mb-0"><fa-icon [icon]="faComments"></fa-icon> {{article.commentCount}}</p>
          </div>
        </div>
      </div>

      <!-- pagination -->
      <ngb-pagination class="d-flex justify-content-end"
                      [(page)]="pagedResult.currentPage"
                      [pageSize]="pagedResult.pageSize"
                      [collectionSize]="pagedResult.totalCount"
                      [maxSize]="5"
                      [rotate]="true"
                      [ellipses]="false"
                      [boundaryLinks]="true"
                      (pageChange)="pageChange($event)" />
    </ng-container>

    <ng-template #loading>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="spinner-grow text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
