<form class="w-100"
      [formGroup]="passwordConfirmationForm">

  <!-- password -->
  <div class="form-group">
    <label for="password">Password</label>
    <input [type]="showPassword ? 'text' : 'password'"
           autocomplete="new-password"
           class="form-control login-input"
           id="password"
           formControlName="password"
           placeholder="Enter password"
           [ngClass]="{ 'is-invalid': f['password'].errors && f['password'].touched }"
           (keyup)="triggerPasswordMatchValidation()" />
    <div *ngIf="f['password'].errors && f['password'].touched" class="invalid-feedback">
      <div *ngIf="f['password'].errors['required']">Password is required</div>
      <div *ngIf="f['password'].errors['minlength']">
        Password must be at least {{ f['password'].errors['minlength'].requiredLength }} characters long.
      </div>
      <div *ngIf="f['password'].errors['pattern']">
        <p>Passwords should contain at least:</p>
        <ul>
          <li>1 or more upper case characters</li>
          <li>1 or more lower case characters</li>
          <li>1 or more numbers</li>
          <li>1 or more special characters - eg &#64; $ %</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- confirm password -->
  <div class="form-group">
    <label for="password">Confirm password</label>
    <div class="input-group">
      <input [type]="showPassword ? 'text' : 'password'"
             autocomplete="new-password"
             class="form-control login-input"
             id="confirm-password"
             formControlName="confirmPassword"
             placeholder="Confirm password"
             [ngClass]="{ 'is-invalid':
                (f['confirmPassword'].errors && f['confirmPassword'].touched) ||
                (passwordConfirmationForm.errors?.['mismatch'] && f['confirmPassword'].touched) }"
             (keyup)="triggerPasswordMatchValidation()" />

      <button type="button" class="btn btn-outline-secondary"
              (click)="togglePasswordVisibility('confirm-password')">
        <fa-icon [icon]="faEye" class="me-2 fa-regular" *ngIf="!showPassword"></fa-icon>
        <fa-icon [icon]="faEyeSlash" class="me-2 fa-regular" *ngIf="showPassword"></fa-icon>
      </button>

      <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].touched" class="invalid-feedback">
        <div *ngIf="f['confirmPassword'].errors['required']">Password is required</div>
        <div *ngIf="f['confirmPassword'].errors['minlength']">
          Password must be at least {{ f['confirmPassword'].errors['minlength'].requiredLength }} characters long.
        </div>
        <div *ngIf="f['confirmPassword'].errors['pattern']">
          <p>Passwords should contain at least:</p>
          <ul>
            <li>1 or more upper case characters</li>
            <li>1 or more lower case characters</li>
            <li>1 or more numbers</li>
            <li>1 or more special characters - eg &#64; $ %</li>
          </ul>
        </div>
      </div>

      <div class="invalid-feedback"
           *ngIf="passwordConfirmationForm.errors?.['mismatch']">
        <div>Passwords do not match</div>
      </div>
    </div>
  </div>

</form>


