<div class="mt-5" *ngIf="form && isLoggedIn">
  <form [formGroup]="form">
    <p>
      <fa-icon [icon]="faCommentAlt" class="me-2"></fa-icon>
      <strong *ngIf="isLoggedIn">Add a comment</strong>
    </p>
    <div>
      <label for="commenterName" class="col-sm-4">Comment</label>
      <textarea class="form-control col-sm-4" placeholder="Your comment" formControlName="comment"></textarea>
    </div>
    <div class="comment-footer">
      <button class="btn btn-sm btn-outline-primary mt-3"
              id="addComment"
              (click)="addComment()"
              [disabled]="!form.valid"
              *ngIf="isLoggedIn">
        Add comment
      </button>

    </div>
  </form>
</div>
<div class="mt-5" *ngIf="!isLoggedIn">
  <a [routerLink]="['/login']" [queryParams]="{ returnUrl: router.url }">
    Login to comment
  </a>
</div>
