<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Comments</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body" *ngIf="article">
    <form>
      <div class="mb-3">

        <!-- comments -->
        <ng-container *ngFor="let comment of article.comments">
          <div class="comment mt-4 mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <p><strong>{{ comment.commenterName }}</strong></p>
              <small class="text-muted">{{ comment.published | date : 'dd/MM/yyyy HH:mm:ss' }}</small>
            </div>
            <p>{{ comment.content }}</p>
            <div class="comment-footer">
              <button class="btn btn-sm btn-outline-primary" *ngIf="isLoggedIn">Reply</button>
            </div>
            <hr />
          </div>
        </ng-container>

        <!-- add comment -->
        <app-comment [article]="article" [isLoggedIn]="isLoggedIn" (getComments)="getCommentsbyArticleId()"></app-comment>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-sm btn-outline-primary"
        (click)="openEnd(content)"
        *ngIf="article">
  <fa-icon [icon]="faComments" class="me-2 fa-regular"></fa-icon>
  {{ article.comments.length }} comments
</button>
