<section class="mt-5" id="comments" *ngIf="article">
  <!-- comment count -->
  <p>
    <a data-bs-toggle="collapse"
       role="button"
       class="link-opacity-75 link-opacity-100-hover hover text-decoration-none link-underline-opacity-0-hover"
       aria-controls="collapseExample"
       [attr.aria-expanded]="!isCollapsed"
       (click)="collapse.toggle()">
       {{ article.comments.length }}
      <fa-icon [icon]="faComments" class="me-2 fa-regular"></fa-icon>
    </a>
  </p>

  <!-- comments -->
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <section *ngFor="let comment of article.comments">
      <div class="comment mt-4 mb-3">
        <div class="d-flex justify-content-between align-items-center">
          <p><strong>some name</strong></p>
          <small class="text-muted">{{ comment.published | date : 'dd/MM/yyyy HH:mm:ss' }}</small>
        </div>
        <p>{{ comment.content }}</p>
        <div class="comment-footer">
          <button class="btn btn-sm btn-outline-primary" *ngIf="isLoggedIn">Reply</button>
        </div>
        <hr />
      </div>
    </section>

    <!-- add comment -->
    <app-comment [article]="article" [isLoggedIn]="isLoggedIn" (getComments)="getCommentsbyArticleId()"></app-comment>
  </div>
</section>
